.App {
    display: flex;
    min-height: 100vh;
    min-height: 100dvh;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: #f9fafc;
    overscroll-behavior: none;
    overscroll-behavior-y: none;
}
